@import url('https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* div {
  border: 0.25px dotted red;
} */

.search {
  position: relative;
  display: flex;
  justify-content: center;
  /* height: 50px; */
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  /* height50px 안하면 검색창과 돋보기버튼(50px) 크기가 다름 */
  height: 50px;
  /* 돋보기버튼이 검색창을 덮었을 때 완전히 덮어지도록(50px보다 작게해도 되자만 그러면 검색창이 body수평중앙에 오지 않음) */
  width: 50px;
  /* 검색창이 0.3초 뒤 200px 천천히 늘어남 */
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  /* 돋보기버튼 누르기 전 돋보기버튼이 검색창 위에 위치하도록 함
    .search의 width가 정해져 있지 않으므로  */
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  /* 돋보기버튼을 오른쪽으로 이동*/
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

/* 돋보기버튼 누르면 검색창 길어지도록 함*/
.search.active .input {
  width: 200px;
}
/* 돋보기버튼 누르면 돋보기버튼이 오른쪽으로 이동해서 검색창 옆에 붙음 */
.search.active .btn {
  transform: translateX(198px);
}
